<!DOCTYPE html>
<html>
    <head>
        <title>View</title>
        <link rel="stylesheet" href="/css/styles.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    </head>


<body>
   <!------ nav var ---------->
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
            <h1>restaurant view page</h1>
            <div class="restaurants">
            <% restaurant.forEach(function(i){ %>
                Name:<%=i.rname%><br>
                Description:<%=i.description%><br>
                Category:<%=i.category%><br>
                Delivery Service:<%=i.name%>       <a href="<%=i.link%>">Link</a><br><br>
            <% }); %>
            </div>
               
<form action="/">
          <h2><button id="back"> Back </button></h2>
        </form>
</body>

</html>